@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0a0a26;
  color: #ffba31;
  justify-content: center;
  display: flex;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
h1 {
  padding-top: 40px;
  left: 100px;
  position: absolute;
}
button {
  color: white;
  font-size: 20px;
  background-color: orange;
  text-decoration: none;
  text-transform: uppercase;
  height: 36px;
  width: 120px;
  position: absolute;
  top: 120px;
  text-align: center;
  left: 130px;
  border-style: none;
  border-radius: 20px;
}
button a {
  color: #0a0a26;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 25px;
}

/* sad */
/* .register {
  position: absolute;
  top: 200px;
} */
.register .nav-tabs .nav-link:hover {
  border: none;
}

.text-align {
  margin-top: -3%;
  margin-bottom: -9%;

  padding: 10%;
  margin-left: 30%;
}

.form-new {
  margin-right: 22%;
  margin-left: 20%;
}

.register-heading {
  margin-left: 21%;
  margin-bottom: 10%;
  color: #ffba31;
  text-transform: uppercase;
  text-align: center;
}

.register {
  top: 200px;
  padding: 3%;
  border-radius: 2.5rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btnSubmit {
  width: 120px;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0b486b;
  border: none;
  cursor: pointer;
  /* margin-right: 6%; */
  color: rgb(246, 246, 252);
  margin-top: 16%;
  position: absolute;
  left: 80px;
}
form {
  width: 300px;
  right: -100px;
  padding-top: 20px;
  position: absolute;
}

/* g */
footer h5 {
  top: 580px;
  position: absolute;
  text-align: center;
  left: 50px;
}
