@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0a0a26;
  color: #ffba31;
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding-left: 20px;

  text-align: center;
  display: flex;
}
.container {
  padding: 20px;
}
.container h1 a {
  color: #ffba31;
  text-decoration: none;
}

#card {
  /* padding: 120px 0; */
  display: flex;
  text-align: center;
}
#card .card-ui {
  height: 100px;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
}
#card .card-ui button {
  color: #0a0a26;
  font-size: 16px;
  background-color: #ffba31;
  border-style: none;
  font-weight: 700;
  border-radius: 30px;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 200px;
}
.pelajar button {
  position: absolute;
  background-color: #ffba31;
  top: 150px;
  right: 100px;
  border: none;
  border-style: none;
  border-radius: 20px;
  width: 150px;
}
.pelajar button a {
  color: #0a0a26;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
footer h5 {
  top: 580px;
  position: absolute;
  text-align: center;
  left: 80px;
}
.amqorder button {
  position: absolute;
  background-color: #ffba31;
  top: 210px;
  border-radius: 20px;
  width: 150px;
  right: 100px;
  height: 40px;
  border-style: none;
}
.amqordersaya button a {
  color: #0a0a26;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.amqordersaya button {
  position: absolute;
  background-color: #ffba31;
  top: 270px;
  border-radius: 20px;
  width: 150px;
  right: 100px;
  height: 40px;
  border-style: none;
}
.amqorder button a {
  color: #0a0a26;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.auto button {
  position: absolute;
  background-color: #ffba31;
  top: 330px;
  border-radius: 20px;
  width: 150px;
  right: 100px;
  height: 40px;
  border-style: none;
}
.auto button a {
  color: #0a0a26;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.ig button {
  position: absolute;
  background-color: #ffba31;
  top: 390px;
  border-radius: 20px;
  width: 150px;
  right: 100px;
  height: 40px;
  border-style: none;
}
.ig button a {
  color: #0a0a26;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.king button {
  position: absolute;
  background-color: #ffba31;
  top: 450px;
  border-radius: 20px;
  width: 150px;
  right: 100px;
  height: 40px;
  border-style: none;
}
.king button a {
  color: #0a0a26;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
