* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #212529;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
}

#hero h5 {
  color: red;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.gd h3 {
  font-weight: 700;
  font-size: 52px;
}
.desc h6 {
  word-wrap: break-word;
}
a {
  text-decoration: none;
  color: white;
}

.aboutme button a:hover {
  color: #212529 !important;
}
#card a:hover {
  color: #212529 !important;
}
#card {
  padding: 120px 0px;
}
#card .card1 {
  background: #202224;
  box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  width: 100%;
  height: 336px;
  padding: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}
#card .card1:hover {
  background: linear-gradient(180deg, #ff0000 0%, rgba(121, 84, 84, 0) 182.52%) !important;
  color: white !important;
  border-radius: 30px !important;
}

/* projext */
#project h2 {
  font-weight: bold;
}
#project .card2 {
  background-color: #202224;
  box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 306px;
  padding: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}
#project .card2:hover {
  background: linear-gradient(180deg, #ff0000 0%, rgba(121, 84, 84, 0) 182.52%) !important;
  color: white !important;
  border-radius: 30px !important;
}
#project .card2 img {
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* skikl */
#skill .exp {
  background-color: #202224;
  box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 226px;
  padding: 40px;
  margin-bottom: 30px;
}
#skill .thn img {
  width: 20%;
  height: 25%;
}
#skill .exp h4 {
  font-size: 42px;
  font-weight: bold;
}
#skill .thn {
  width: 100%;
  height: 103px;
  padding: 20px;
  margin-bottom: 5%;
  background-color: #202224;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.5);
}

/* masuk */
#masuk .container {
  background-color: #202224;
  box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
  padding: 40px;
  margin-bottom: 60px;
}
#masuk button a {
  color: white;
}

/* akhir */
#akhir .container {
  background-color: #202224;
  box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
  padding: 40px;
  margin-bottom: 30px;
}
#akhir h3 {
  font-size: 32px;
  font-weight: bold;
}
